.container {
    position: absolute;
    width: calc(100% - 16px - 16px - 4vw - 4vw);
    margin-left: 4vw;
    margin-right: 10px;
    margin-top: 112px;
    height: calc(100% - 155px - 2px);
}

.currentTimeLine {
    position: relative;
    z-index: 3;
    margin: 0;
    color: #2598ff;
    opacity: 0.6;
}

.weekEvents {
    position: relative;
    z-index: 2;
    height: 100%;
}

.eventDay {
    position: relative;
}

.event {
    align-items: flex-start;
    display: flex;
    border-radius: 4px;
    overflow: hidden;
    position: absolute;
}

.bar {
    align-self: stretch;
    position: relative;
    width: 3px;
}

.body {
    align-items: flex-start;
    background-color: transparent;
    border-radius: 4px;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    padding: 6px;
    position: relative;
}

.time {
    background-color: transparent;
    position: relative;
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 4px;
    width: 100%;
}

.startTime {
    font-style: normal;
    font-weight: 500;
    margin-top: -1.00px;
    white-space: nowrap;
    width: fit-content;
    background-color: transparent;
    line-height: 16px;
    position: relative;
    text-align: left;
}

.ampm {
    background-color: transparent;
    line-height: 16px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
    font-style: normal;
    font-weight: 500;
}

.eventName {
    background-color: transparent;
    line-height: 16px;
    position: relative;
    text-align: left;
    align-self: stretch;
    letter-spacing: 0.00px;
    font-weight: 600;
    margin-top: 4px;
    margin-bottom: 8px;
}

.eventDescription {
    font-style: normal;
    font-weight: 500;
    margin-top: -1.00px;
    background-color: transparent;
    line-height: 16px;
}
